ion-content {
    --background: var(--ion-color-light);
}

.cover-img {
    max-width: 200px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.forget {
    p {
        color: rgba(var(--ion-color-dark), .6);
    }
}

.social-login {
    p {
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            color: var(--ion-color-primary);
            background: linear-gradient(130deg, #DE6FFF, #96FFD1);
            background: -webkit-linear-gradient(130deg, #DE6FFF, #96FFD1);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}