<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <i class="remixicon-home-line ri-2x"></i>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <i class="remixicon-archive-line ri-2x"></i>
      <ion-label>Appoi. History</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/user-profile">
      <i class="remixicon-profile-line ri-2x"></i>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
