<ion-toolbar mode="ios" class="main-header">
    <ion-buttons slot="start">
        <!-- <ion-button fill="clear" color="dark">
            <i class="remixicon-menu-line ri-2x"></i>
        </ion-button> -->
        <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <div text-center>
        <ion-title>
            Followup Conversation
        </ion-title>
    </div>
    <ion-buttons slot="end">
        <!-- <ion-button fill="clear" color="dark">
            <i class="remixicon-notification-line ri-2x"></i>
        </ion-button> -->
        <ion-button fill="clear" color="dark" (click)="logout()">
            <i class="remixicon-login-circle-line ri-2x"></i>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col>
                <div *ngIf="followups?.followup">
                    <div *ngFor="let followup of followups?.followup "  (click)="followDetails(followup)">
                        <ion-card tappable *ngIf="followup.suggestions"  style="margin-right: 20% !important;">
                            <ion-item lines="none" color="primary">
                                <span slot="start">Doctor</span>
                                <span slot="end">Date: {{followup.created_at | date:'yyyy-MM-dd'}}</span>
                            </ion-item>
                        </ion-card>
                        <ion-card tappable *ngIf="followup.symptoms" style="margin-left: 20% !important;" >
                            <ion-item lines="none"  color="secondary">
                                <span slot="start">Me</span>
                                <span slot="end">Date: {{followup.created_at | date:'yyyy-MM-dd'}}</span>
                            </ion-item>
                        </ion-card>
                    </div>
                </div>

                <!-- Skeleton -->
                <div *ngIf="!followups?.followup">
                    <ion-card style="margin-left: 20% !important;" >
                        <ion-item lines="none" color="light">
                            <span slot="start"><ion-skeleton-text animated style="width: 50px"></ion-skeleton-text></span>
                            <span slot="end"><ion-skeleton-text animated style="width: 100px"></ion-skeleton-text></span>
                        </ion-item>
                    </ion-card>
                    <ion-card style="margin-right: 20% !important;">
                        <ion-item lines="none" color="light">
                            <span slot="start"><ion-skeleton-text animated style="width: 50px"></ion-skeleton-text></span>
                            <span slot="end"><ion-skeleton-text animated style="width: 100px"></ion-skeleton-text></span>
                        </ion-item>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
