<ion-toolbar mode="ios" class="main-header">
	<!-- <ion-buttons slot="start">
        <ion-button fill="clear" color="dark">
            <i class="remixicon-menu-line ri-2x"></i>
        </ion-button>
        <ion-button fill="clear" color="dark">
            <i class="remixicon-arrow-go-back-line ri-2x"></i>
        </ion-button>
    </ion-buttons> -->
	<div text-center>
		<ion-title>
			Appointment History
		</ion-title>
	</div>
	<ion-buttons slot="end">
		<!-- <ion-button fill="clear" color="dark">
            <i class="remixicon-notification-line ri-2x"></i>
        </ion-button> -->
		<ion-button fill="clear" color="dark" (click)="logout()">
			<i class="remixicon-login-circle-line ri-2x"></i>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content padding>

    <div class="section-title">
        <ion-grid>
            <ion-row *ngIf="appoint == ''">
                <ion-col text-center>
                    <h5>No Data Found</h5>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="appoint" class="appoints">
                <ion-col>
                    <ion-card *ngFor="let item of appoint">
                        <ion-list>
                            <ion-item lines="none">
                                <ion-label class="ion-no-margin">
                                    <h2>Dr. {{item.doctor.name}}</h2>
                                    <h3>{{item.disease_name}}</h3>
                                    <ion-row>
                                        <ion-col>
                                            <p class="d-flex ion-no-margin" align-items-center>
                                                <i class="remixicon-calendar-event-line mr-1"></i>
                                                {{item.child.date}}
                                            </p>
                                        </ion-col>
                                        <ion-col>
                                            <p class="d-flex ion-no-margin" align-items-center>
                                                <i class="remixicon-time-line mr-1"></i>
                                                {{item.child.start}} - {{item.child.end}}
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card>
                </ion-col>
            </ion-row>

            <!-- Skeleton -->
            <ion-row *ngIf="!appoint" class="appoints">
                <ion-col>
                    <ion-card>
                        <ion-list>
                            <ion-item lines="none">
                                <ion-label class="ion-no-margin">
                                    <h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
                                    <h3><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></h3>
                                    <ion-row>
                                        <ion-col>
                                            <p class="d-flex ion-no-margin" align-items-center>
                                                <i class="remixicon-calendar-event-line mr-1"></i>
                                                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                                            </p>
                                        </ion-col>
                                        <ion-col>
                                            <p class="d-flex ion-no-margin" align-items-center>
                                                <i class="remixicon-time-line mr-1"></i>
                                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card>
                    <ion-card>
                        <ion-list>
                            <ion-item lines="none">
                                <ion-label class="ion-no-margin">
                                    <h2><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></h2>
                                    <h3><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></h3>
                                    <ion-row>
                                        <ion-col>
                                            <p class="d-flex ion-no-margin" align-items-center>
                                                <i class="remixicon-calendar-event-line mr-1"></i>
                                                <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                                            </p>
                                        </ion-col>
                                        <ion-col>
                                            <p class="d-flex ion-no-margin" align-items-center>
                                                <i class="remixicon-time-line mr-1"></i>
                                                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                                            </p>
                                        </ion-col>
                                    </ion-row>
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>