<ion-toolbar mode="ios" class="main-header">
	<ion-buttons slot="start">
        <!-- <ion-button fill="clear" color="dark">
            <i class="remixicon-menu-line ri-2x"></i>
        </ion-button> -->
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
	<div text-center>
		<ion-title>
			Create Follow Up
		</ion-title>
	</div>
	<ion-buttons slot="end">
		<!-- <ion-button fill="clear" color="dark">
            <i class="remixicon-notification-line ri-2x"></i>
        </ion-button> -->
		<ion-button fill="clear" color="dark" (click)="logout()">
			<i class="remixicon-login-circle-line ri-2x"></i>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content padding >

    <ion-searchbar animated [(ngModel)]="searchTerm" (ionChange)="doctorSearch($event)" placeholder="Search and select doctor" class="shadow-1"></ion-searchbar>

    <ion-list *ngIf="docData" class="search-result">
        <ion-item *ngFor="let doc of (docData  )" (click)="setDocid(doc.id,doc.first_name,doc.last_name)" >
            <ion-label>{{doc.first_name}} {{doc.last_name}}</ion-label>
        </ion-item>
        <ion-chip *ngIf="docName != null" (click)="removeDocName()">
            <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>{{docName}}</ion-label>
            <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
    </ion-list>



    <div justify-content-center align-items-center>
        <form #form="ngForm"  (ngSubmit)="createFollowup(form)" >
            <ion-grid>
              <ion-row justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

                    <div class="section-title">
                        <h6>Followup Details</h6>
                    </div>
                    <ion-item class="df-input">
                        <ion-input name="disease_name" type="text" placeholder="Disease Name" ngModel required></ion-input>
                    </ion-item>
                    <ion-item class="df-input">
                        <ion-textarea name="symptoms" rows="3" type="text" placeholder="Disease Symptoms" ngModel required></ion-textarea>
                      </ion-item>
                    <ion-item class="df-input">
                        <ion-textarea name="description" rows="5" type="text" placeholder="Disease Description" ngModel required></ion-textarea>
                    </ion-item>
                    <ion-button size="default" color="primary" expand="block" (click)="chooser()">Choose File</ion-button>
                    <hr>

                    <ion-item *ngFor="let file of fileBuff;let i = index">
                        <ion-label *ngIf="file">{{file.filename}}</ion-label>
                    </ion-item>
                    <hr>

                    <div class="section-title">
                        <h6>Payment Method</h6>
                    </div>
                    <ion-item class="df-select">
                        <ion-select placeholder="Select Payment Method" name="pay_status" ngModel >
                            <ion-select-option value="female">Bkash/Rocket</ion-select-option>
                            <ion-select-option value="male">Credit Card</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item class="df-input">
                      <ion-input name="transaction_number" type="text" placeholder="Transaction Number" ngModel required></ion-input>
                    </ion-item>
                    <hr>

                    <ion-button color="primary" size="large" type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
    </div>

  </ion-content>
