// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~remixicon/fonts/remixicon.css';

// Theme
@import './theme/form.scss';
@import './theme/shadow.scss';

// Custom Color
.ion-color-gradient {
    --background: linear-gradient(330deg, #DE6FFF, #96FFD1);
    background: linear-gradient(330deg, #DE6FFF, #96FFD1);
}

// Layout Utility
.w-100 {
    width: 100%;
}