<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs"></ion-back-button>
        </ion-buttons>
    <ion-title>{{userInfo?.first_name}} {{userInfo.last_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-grid>
      <div>
        <ion-row justify-content-center>
            <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
        </ion-row><br>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label><b>Name</b></ion-label></ion-col>
         <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label>: {{userInfo.first_name}} {{userInfo.last_name}}</ion-label></ion-col> 
        </ion-row>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label><b>Address</b></ion-label></ion-col>
         <ion-col size-md="6" size-lg="5" size-xs="6"> <ion-label>: {{userInfo?.address}}</ion-label></ion-col> 
        </ion-row>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label><b>District</b></ion-label></ion-col>
         <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label>: {{userInfo.district}}</ion-label></ion-col> 
        </ion-row>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label><b>Division</b></ion-label></ion-col>
         <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label>: {{userInfo.division}}</ion-label></ion-col> 
        </ion-row>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label><b>Email</b></ion-label></ion-col>
         <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label>: {{userInfo.email}}</ion-label></ion-col> 
        </ion-row>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label><b>Phone</b></ion-label></ion-col>
         <ion-col size-md="6" size-lg="5" size-xs="6"><ion-label>: {{userInfo.phone}}</ion-label></ion-col> 
        </ion-row>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="6"> <ion-label><b>Birth Date</b></ion-label></ion-col>
         <ion-col size-md="6" size-lg="5" size-xs="6"> <ion-label>: {{userInfo.birth_date}}</ion-label></ion-col> 
        </ion-row>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="6"> <ion-label><b>Age</b></ion-label></ion-col>
         <ion-col size-md="6" size-lg="5" size-xs="6"> <ion-label>: {{age}}</ion-label></ion-col> 
        </ion-row>
        <ion-row>
          <ion-col size-md="6" size-lg="5" size-xs="6"> <ion-label><b>Gender</b></ion-label></ion-col>
         <ion-col size-md="6" size-lg="5" size-xs="6"> <ion-label>: {{userInfo.gender}}</ion-label></ion-col> 
        </ion-row>
        <ion-row >
          <ion-col  size-md="6" size-lg="5" size-xs="6">
              <ion-label><b>Occupation</b></ion-label>
          </ion-col>
          <ion-col  size-md="6" size-lg="5" size-xs="6">
              <ion-label>: {{userInfo.occupation}}</ion-label>
          </ion-col>
        </ion-row>
       
        
      </div>
  </ion-grid>
</ion-content>
