<ion-header>
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button href="/login"></ion-back-button>
      </ion-buttons>
    <ion-title>FollowUp | Register</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content  >
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="first_name"   type="text" placeholder="First Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="last_name" type="text" placeholder="Last Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="phone" type="number" placeholder="phone" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="address" type="text" placeholder="address" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Division</ion-label>
              <ion-select  name="sState" ngModel placeholder="Select One"    (ionChange)="setDistrictValues(form.value.sState.id)">
                <ion-select-option [value]="sState" *ngFor="let sState of states">{{sState.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="selectedDistricts" >
              <ion-label>District</ion-label>
              <ion-select placeholder="Select One" name="sDistrict" ngModel>
                <ion-select-option [value]="sDistrict" *ngFor="let sDistrict of selectedDistricts">{{sDistrict.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Birth Date</ion-label>
              <ion-datetime name="birth_date" type="Date" ngModel display-format="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label>Gender</ion-label>
              <ion-select placeholder="Select One" name="gender" ngModel >
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="male">Male</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-input name="age" type="number" placeholder="Current age" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="occupation" type="text" placeholder="Occupation" ngModel required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block" >Register</ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <div text-center padding>
      Already have an account,  please <a routerLink='/login'>
       <b> Login</b></a>
        </div>
    </ion-row>
    </ion-grid>
  </form>
</ion-content>
